#about_area
  %h1 About Kringly
  %p
    Kringly is an app made by
    #{link_to "Fred Baa", "http://fredbaa.com", :target => "_blank"}.
    A project by the
    #{link_to "Sudocrew", "http://sudocrew.com", :target => "_blank"}.

